<div class="lists-container" fxLayout="column" fxLayoutAlign="space-between">
  <mat-nav-list>
  
    <a class="nav-list-item" mat-list-item routerLink="/home" (click)="onClose()">
      H O M E
    </a>
  
    <a class="nav-list-item" mat-list-item routerLink="/program" (click)="onProgram()">
      P R O G R A M
    </a>

    <a class="nav-list-item" mat-list-item routerLink="/location" (click)="onClose()">
      L O C A T I O N
    </a>
  
  
  </mat-nav-list>
  <mat-nav-list>
    <a *ngIf="(isAuth$ | async)" class="nav-list-item" mat-list-item routerLink="/artists" (click)="onClose()">
      A R T I S T S
    </a>
    
    <a *ngIf="!(isAuth$ | async)" class="nav-list-item" mat-list-item routerLink="auth/login" (click)="onClose()">
      L O G I N
    </a>
    
    <!-- 
      <a
        *ngIf="!(isAuth$ | async)"
        class="nav-list-item"
        mat-list-item
        routerLink="auth/signup"
        (click)="onClose()">
        SIGNUP
      </a> -->
    
    <a *ngIf="(isAuth$ | async)" class="nav-list-item" mat-list-item (click)="onLogOut()">
      <span>L O G O U T</span>
    </a>

  </mat-nav-list>
</div>