mat-sidenav-container {
    height: calc(100vh - 106px);
    @media (min-width: 600px) {
        height: calc(100vh - 114px);
    }
    mat-sidenav {
    }
    mat-sidenav-content {
        main {
            background-color: pink;
            .wrapper {
                // border: 2px solid red;
                .accordion-container {
                    border: 2px solid green;
                    width: 100%;
                    max-width: 400px;
                    .year-accordion{
                        .year-expansion-panel {
                            .year-expansion-panel-header {
                                background-color: lightblue;
                                .year-panel-title {
                                    color: red;
                                }
                            }
                            .month-accordion {
                                .month-expansion-panel {
                                    .month-expansion-panel-header {
                                        .month-panel-title {
                                            color: green;
                                        }
                                    }
                                    .gig-accordion {
                                        .gig-expansion-panel {
                                            .gig-expansion-panel-header {
                                                .gig-panel-title {
                                                    width: 2rem;
                                                    border: 1px solid pink;
                                                }
                                                .gig-panel-description {
                                                    color: brown;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

mat-expansion-panel-header {
    padding: 0 var(--rem-m) !important;
}

mat-expansion-panel-content {
    padding: 0 var(--rem-m) !important;
}

.mat-expansion-panel-body {
    padding: 0 !important;
}

.bookings-list {
    padding: 0 var(--rem-s) !important;
}
.bookings-list-item {
    padding: var(--rem-ms) var(--rem-m) !important ;
    border: 1px solid var(--jazz-black);
}
