<mat-sidenav-container>
  <mat-sidenav 
    #sidenav 
    (openedChange)="openedChange($event)" 
    role="navigation" 
    [opened]="showcaseOpen$ | async">
    <app-showcase></app-showcase>
  </mat-sidenav>
  <mat-sidenav-content 
    fxLayout="column">
    <div *ngIf="(isLoading$ | async)" class="mat-spinner-container" fxLayout fxLayoutAlign="center">
      <mat-spinner color="warn"></mat-spinner>
    </div>
    <main *ngIf="!(isLoading$ | async)">
      <div class="wrapper" *ngIf="dateOpen$ | async; let dateOpen" fxLayout fxLayoutAlign="center">
        <div class="accordion-container">
          <mat-accordion class="year-accordion">
            <button
              class="show-all"
              *ngIf="isAuthenticated$ | async"
              mat-raised-button
              (click)="onShowAll()">
              {{showAll ? 'show starting from current date' : 'show all dates'}}
            </button>
            <mat-expansion-panel 
            class="year-expansion-panel" 
            hideToggle 
            *ngFor="let year of years"
            [expanded]="year.yearName === dateOpen[2]">
              <mat-expansion-panel-header 
                class="year-expansion-panel-header">
                <mat-panel-title 
                  class="year-panel-title">
                  {{year.yearName}}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-accordion class="month-accordion">
                <mat-expansion-panel 
                  #monthPanel
                  [ngStyle]="monthPanel.expanded ? monthPanelExpanded() : monthPanelClosed()"
                  class="month-expansion-panel" hideToggle *ngFor="let month of year.months"
                  [expanded]="month.name === dateOpen[0]">
                  <mat-expansion-panel-header 
                    class="month-expansion-panel-header">
                    <mat-panel-title 
                      class="month-panel-title"
                      [ngStyle]="monthPanel.expanded ? monthTitleExpanded() : monthTitleClosed()">
                      <div 
                        class="month-name-container"
                        [ngStyle]="monthPanel.expanded ? monthNameContainerOpen() : monthNameContainerClosed()">
                        {{month.name | numbertomonth}}
                      </div>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <mat-accordion 
                    class="gig-accordion">
                    <mat-expansion-panel 
                      #gigPanel 
                      [ngStyle]="gigPanel.expanded ? gigPanelExpanded() : gigPanelClosed()"
                      class="gig-expansion-panel" 
                      hideToggle *ngFor="let gig of month.gigs; let indexOfElement = i"
                      [expanded]="
                      gig.name === dateOpen[1] && month.name === dateOpen[0] ||
                      dateOpen[1] + 1 === gig.name && month.name === dateOpen[0] ||
                      dateOpen[1] + 2 === gig.name && month.name === dateOpen[0] ||
                      dateOpen[1] + 3 === gig.name && month.name === dateOpen[0] ||
                      dateOpen[1] + 4 === gig.name && month.name === dateOpen[0] ||
                      dateOpen[1] + 5 === gig.name && month.name === dateOpen[0] ||
                      dateOpen[1] + 6 === gig.name && month.name === dateOpen[0]">
                      <mat-expansion-panel-header 
                        class="gig-expansion-panel-header"
                        [ngStyle]="numberFeatured(gig.bookings)">
                        <mat-panel-title
                          class="gig-panel-title"
                          (click)="onGigDate(month.name, gig.name, year.yearName)">
                          <div 
                            class="gig-name-container"
                            [ngStyle]="gigPanel.expanded ? gigTitleExpanded(gig.bookings) : gigTitleClosed()"
                            fxLayout="end">
                            {{gig.name | datesuffix}}
                          </div>
                        </mat-panel-title>
                        <mat-panel-description
                          [ngStyle]="gigPanel.expanded ? gigDescriptionExpanded(gig.bookings) : gigDescriptionClosed()"
                          class="gig-panel-description" 
                          fxLayout 
                          fxLayoutAlign="center center">
                          <ul 
                            class="featured-artist-list">
                            <li 
                              class="featured-artist-list-item" 
                              *ngFor="let booking of gig.bookings" 
                              fxLayout="column"
                              fxLayoutGap="1rem">
                              <div
                                [ngStyle]="gigPanel.expanded ? featuredArtistNameExpanded(gig.bookings) : featuredArtistNameClosed()"
                                *ngIf="booking.isFeatured">
                                {{booking.isFeatured === true ? (booking.artist.name | nametitlecase) : null}}
                              </div>
                            </li>
                          </ul>
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <ul 
                        class="bookings-list">
                        <li  
                          [ngStyle]="gigPanel.expanded ? gigListItemExpanded() : gigListItemTitleClosed()"
                          class="bookings-list-item" 
                          *ngFor="let booking of gig.bookings" 
                          fxLayout
                          fxLayoutAlign="space-between">
                          <div
                            class="name-instrument-container" 
                            style="width: 100%;" 
                            fxLayout
                            fxLayoutAlign="space-between" 
                            (click)="bookingSelected(booking)">
                            <div 
                              [ngClass]="{'large-font': !isAuthenticated}" 
                              class="chevron-name-instrument"
                              style="width: 100%;" 
                              fxLayout 
                              fxLayoutAlign="space-between center center">
                              <div 
                                class="chevron-name" 
                                fxLayoutGap=".5rem">
                                <fa-icon
                                  [ngStyle]="{visibility: booking.artist.name === 'tba' ? 'hidden' : 'visible'}"
                                  class="chevron" 
                                  [icon]="faChevronLeft">
                                </fa-icon>
                                <span 
                                  class="name">
                                  {{booking.artist.name | nametitlecase }}
                                </span>
                              </div>
                              <span
                                class="instrument">
                                {{booking.artist.instrument | titlecase}}
                              </span>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </mat-expansion-panel>
                  </mat-accordion>
                </mat-expansion-panel>
              </mat-accordion>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
      
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>



<!--  [ngStyle]="panel.expanded ? {backgroundColor: 'yellow'} : {backgroundColor: 'white'}" -->