mat-sidenav-container {
    height: calc(100vh - 106px);
    @media (min-width: 600px) {
        height: calc(100vh - 114px);
    }
    mat-sidenav {
    }
    mat-sidenav-content {
        main {
            background-color: var(--jazz-black);
            .wrapper {
                // border: 2px solid red;
                .accordion-container {
                    width: 100%;
                    max-width: 400px;
                    .year-accordion{
                        .year-expansion-panel {
                            background-color: var(--jazz-orange);
                            padding: 0.5rem;
                            .year-expansion-panel-header {
                                background-color: var(--jazz-orange);
                                border: 3px solid var(--jazz-green);
                                // margin: 5px;
                                .year-panel-title {
                                    font-size: 2rem;
                                    justify-content: center;
                                    color: var(--jazz-black);
                                }
                            }
                            .month-accordion {
                                .month-expansion-panel {
                                    .month-expansion-panel-header {
                                        .month-panel-title {
                                            color: var(--jazz-black);
                                            justify-content: center;
                                            font-size: 1.5rem;
                                        }
                                    }
                                    .gig-accordion {
                                        .gig-expansion-panel {
                                            background-color: red;
                                            padding-bottom: 0.5em; 
                                            .gig-expansion-panel-header {
                                                // border: 1px solid black;
                                                
                                                
                                                .gig-panel-title {
                                                    width: 2rem;
                                                    font-size: 1.3rem;
                                                    .gig-name-container {}                                     
                                                }
                                                .gig-panel-description {
                                                    color: var(--jazz-black);
                                                    font-size: 1.3rem;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.panel-closed {

}

.panel-expanded {
    background-color: green;
}

mat-sidenav-content {
    background-color: var(--jazz-orange);
}

mat-expansion-panel-header {
    padding: 0 11px !important;
}

mat-expansion-panel-content {
    padding: 0 var(--rem-m) !important;
}

.mat-expansion-panel-body {
    padding: 0 !important;
}

.bookings-list {
    padding: 0 var(--rem-s) !important;
}
.bookings-list-item {
    padding: var(--rem-ms) var(--rem-m) !important ;
    border: 1px solid var(--jazz-black);
    border-radius: 3px;
    margin: 3px;
}
.month-selected {
    background-color: var(--jazz-orange);
}
.monthTitleExpanded {
    background-color: var(--jazz-orange);
}
// .month-name-container {
//     border: 1px solid black;
// }