<div class="container" fxLayout fxLayoutAlign="center">
<div class="wrapper" fxLayout="column">
  <button class="add-artist" mat-raised-button>
    <a (click)="onRoute('artists/create-artist')">CREATE ARTIST</a>
  </button>
  <button class="add-artist" mat-raised-button>
    <a (click)="onRoute('program')">CANCEL</a>
  </button>
  <ul class="artists-list" *ngIf="(artists$ | async)?.length > 0">
    <li
      class="artists-list-item" 
      *ngFor="let artist of artists$ | async"
      fxLayout>
      <div class="image-container">
        <img class="image" [src]="artist.imageUrl" alt="">
      </div>
      <div class="name-instrument-button" fxLayout fxLayoutAlign="space-between">
        <div fxLayout fxLayoutAlign="space-between" (click)="onEditArtist(artist.artistId)" class="name-instrument">
          <div class="name">{{artist.name}}</div>
          <div class="instrument">{{artist.instrument}}</div>
        </div>
        <button
          mat-raised-button 
          color="warn" 
          class="delete-button" 
          type="button" 
          (click)="onDeleteArtist(artist)">
          <!-- delete -->
          <fa-icon [icon]="faTrash"></fa-icon>
        </button>
      </div>
    </li>
    <hr>
  </ul>
</div>
