.container {
  .wrapper {
    padding-top: var(--rem-m);
    background-color: var(--jazz-white);
    min-height: calc(100vh - 106px);
    padding: 1rem;
    max-width: 500px;
    .add-artist {
      margin-bottom: var(--rem-m);
    }
    width: 100vw;
    .artists-list {
      // border: 3px solid black;
      .artists-list-item {
        border: 1px solid black;
        .image-container {
          border-right: 1px solid black;
          width: 75px;
          .image {
            width: 100%;
          }
        }
        .name-instrument-button {
          display: flex;
          width: 100%;
          // border: 3px solid pink;
          .name-instrument {
            // border: 3px solid green;
            padding: var(--rem-m);
            text-transform: capitalize;
            display: flex;
            width: 100%;
            .name {
            }
            .instrument {
            }
          }
          .delete-button {
            fa-icon {
            }
          }
        }
      }
    }
  }
}
