

.close-window {
  font-size: 24px;
  position: fixed;
  top: 70px;
  right: 10px;
  opacity: 0.3;
}
.showcase-wrapper {
  max-width: 500px;
  width: 100vw;
  background-color: var(--jazz-white);
  .header {
    padding: var(--rem-ms);
    .gig-info {
      .booking {
        font-size: 1.3rem
      }
      .artist-name-instrument {
        .name {
          text-transform: uppercase;
          font-size: 1.3rem;
        }
        .instrument {
          font-size: 1.3rem;
        }
      }
    }
    
  }
  .image {
    width: 100%;
  }
  .biography {
    // font-size: var(--rem-m);
    font-size: 1.1rem;
    padding: var(--rem-m);
    h4 {
      font-size: var(--rem-m);
      font-weight: 500;
      padding: var(--rem-s) 0;
    }
    ul {
      li::before {
        content: '-';
      }
      li {
        padding: var(--rem-xs) 0;
      }
    }
  }
}
p {
  padding: .2rem;
  text-align: justify;
}



