:root {
  --background-color-1: #034748;
  --color-1: #26c9f7;
  --color-2: #b3eafa;
  --background-main: #7b2d26;
  --background-mat-expansion-panel-header: #d7c9aa;
  --background-date-panel: #19535f;
  --background-header-blue: #243956;
  --border-mat-expansion-panel-header: #19535f;
  --app-footer-height: 2.5rem;
  --jazz-orange: #FF7F00;
  --jazz-white: #DBC3A6;
  --jazz-red: #E11717;
  --jazz-green: #9E9E00;
  --jazz-black: #000000;
  --app-footer-height: 50px;
  --default-box-shadow: 0px 0px 5px 0px rgb(89, 89, 89);
  --rem-xs: 0.2rem;
  --rem-s: 0.5rem;
  --rem-ms: 0.7rem;
  --rem-m: 1rem;
  --rem-ml: 1.5rem;
  --rem-l: 2rem;
  --rem-xl: 5rem;
} 