iframe {
  // width: 100vw;
  
}
.section {
  .main {
    max-width: 450px;
    .title-flags {
      .title {
        font-size: 2rem;
        font-weight: bold;
        letter-spacing: .3rem;
      }
      .flags {
        .flag {
          width: 3rem;
          height: 2rem;
        }
        .dutch-flag {
  
        }
        .english-flag {
  
        }
      }
    }
    .schedule {
      font-size: 1.5rem;
    }
    .hr {
      margin: 1rem;
    }
    .address {
      font-size: 1.3rem;
    }
    .content {
      margin: 1.5rem 0;
      text-align: justify;
    }
    .author {
      font-style: italic;
    }
    .date {
    }
    .links {
      margin-top: 1.5rem;
      .header {
        
      }
      ul {
        li {
          
          a::before {
            content: ' - '
          }
        }
      }
    }
  }
}
.background-image {
}

@media (min-width: 320px) and (max-width: 480px) {
  /* 
    Device = Most of the Smartphones Mobiles (Portrait)
    Screen = 320px to 479px
  */
}
@media (min-width: 481px) and (max-width: 767px) {
  /* 
    Device = Low Resolution Tablets, Mobiles (Landscape)
    Screen = 481px to 767px
  */
}
@media (min-width: 768px) and (max-width: 1024px) {
  /* 
    Device = Tablets, Ipads (portrait)
    Screen = 768px to 1024px
  */
}
@media (min-width: 1025px) and (max-width: 1280px) {
  /* 
  Device = Laptops, Desktops
  Screen = 1025px to 1280px
  */
}
@media (min-width: 1281px) {
  /* 
  Device = Desktops
  Screen = 1281px to higher resolution desktops
  */
}
