
<div class="section" fxLayout fxLayoutAlign="center">
  <div class="main">
    <div class="title">
      JAZZENGEL
    </div>
    <div class="schedule">
      Sundays from 16:30 untill 19:00
    </div>
    <hr class="hr">
    <div class="address">
      Café de Engelbewaarder
      <br>
      Kloveniersburgwal 59 1011 JZ Amsterdam
    </div>

    <div class="content">
      De langstlopende en volgens sommigen beste sessie is die van Café De Engelbewaarder op de Kloveniersburgwal,
      zondagmiddag. Hier zijn drummer Victor de Boo, bassist Jacko Schoonderwoerd en pianist Leo Bouwmeester gastheren,
      die de bijeenkomsten inzetten met een set en de deelnames regelen. De onlangs overleden saxofonist Sean Bergin had
      hier met hen de leiding. Bergin wordt node gemist, maar de sfeer is niet wezenlijk veranderd. Soms loopt er nog
      weleens een toerist langs die uitroept: "Where's the big man?" Gaandeweg de middag loopt de Engelbewaarder
      steevast vol met wat ouder publiek en gaan de muzikanten flink los.
    </div>

    <div class="author">
      Jan Jasper Tamboer
    </div>
    <div class="date">
      Parool 29 januari 2013
    </div>
    <div class="links">
      <div class="header">
        LINKS:
      </div>
      <ul>
        <li class="expositie">
          <a href="https://www.cafedeengelbewaarder.nl/exhibitions">Huidige expositie: ODE AAN FRANS SCHELLEKENS</a>
        </li>
        <li class="engelbewaarder">
          <a href="https://www.cafedeengelbewaarder.nl/home">CAFÉ DE ENGELBEWAARDER</a>
        </li>
      </ul>
      <!-- <div class="expositie">
      </div>
      <div class="engelbewaarder">
      </div> -->
    </div>
  </div>
</div>